/acpi_tables/ @jiangliu @liuw @rbradford @sboeuf
/event-manager/ @alexandruag @andreeaflorescu @roypat @ShadowCurse
/linux-loader/ @aghecenco @sameo @rbradford @roypat @andreitraistaru @ShadowCurse
/seccompiler/ @alindima @petreeftime
/vm-allocator/ @AlexandruCihodaru @alsrdn @jiangliu @andreeaflorescu @gsserge @studychao @roypat @ShadowCurse
/vmm-sys-util/ @andreeaflorescu @ShadowCurse
/vm-memory/ @bonzini @ShadowCurse @XanClic
/vm-superio/ @andreeaflorescu @lauralt @gsserge @roypat @ShadowCurse
/vm-superio-ser/ @andreeaflorescu @lauralt @gsserge @roypat @ShadowCurse
