/acpi_tables/ @jiangliu @liuw @rbradford @sboeuf
/event-manager/ @alexandruag @andreeaflorescu @roypat @ShadowCurse
/vmm-sys-util/ @andreeaflorescu @ShadowCurse
/vm-memory/ @alexandruag @bonzini @jiangliu @tkreuzer @roypat @ShadowCurse @XanClic
